{
  "schema_version": "pre-alpha",
  "compute_remotes": {
    "dev": {
      "type": "firefly",
      "firefly": {
        "url": "http://localhost:8000",
        "hub_token": "foo",
        "username": "foo"
      }
    },
    "personal-aws": {
      "type": "ec2",
      "ec2": {
        "profile": "hyperdrive",
        "access_key": "",
        "secret": "",
        "region": ""
      }
    }
  },
  "workspace_persistence_remotes": {
    "dev": {
      "type": "s3",
      "default": true,
      "s3": {
        "profile": "hyperdrive",
        "access_key": "",
        "secret": "",
        "region": ""
      }
    }
  }
}