{
  "configSchemaVersion":"pre-alpha",
  "remotes": {
      "dev": {
        "remote_type": "firefly",
        "Url": "http://localhost:8000",
        "HubToken": "foo",
        "Username": "foo"
      },
      "personal-aws": {
        "remote_type": "ec2",
        "aws_key": "foo",
        "aws_se": "foo"
      }
  }
}
